body {
  margin: 0;
  margin-bottom: -20px;
  padding: 0;
  height: 130vh;
  font-family: sans-serif;
  text-align: center;
  background: url("../public/minimalism.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 1;
  color: #222222;
}

.navFixed {
  position: fixed;
  width: 100%;
  background: url("../public/minimalism.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 2;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1vh;
  font-size: 2vh;
}

.navLink {
  padding: 10px;
  color: black;
  text-decoration:none;
}

.navLink:hover {
  font-size: larger;
  font-weight: bold;
}

.header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title{
  padding-top: 10vmin;
}

.downArrow {
  justify-content: flex-end;
  font-size: 5vh;
}

.downArrow a {
  color: #222222;
}

.tech {
  display: flex;
  justify-content: space-around;
  font-size: 2.5vh;
}

.technologies {
  height: 5vh;
  margin: 0 2vh 2vh 2vh;
}

h1 {
  font-size: 45px;
}

.header h4 {
  font-style: italic;
}

#main {
  font-size: large;
  background-color: #eeeeee;
  padding: 6vh;
  /*margin-top: 50px;*/
}

#main h3 {
  font-size: 2.5vh;
}

.aboutMeContainer {
  /*padding-top: 15px;*/
  /*background-color: rgba(34,34,34,0.5);*/
  font-size: large;
}

.aboutMeTop {
  display: flex;
  padding: 0px 50px 50px 50px;
}

.aboutMeText {
  flex: 3;
  padding: 15px;
  margin: 15px;
  background-color: rgba(255,255,255,0.5);
  border-radius: 5px;
  font-size: larger;
  max-width: 700px;
}

.profilePicContainer {
  flex: 1;
  padding: 2vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profilePic {
  height: 20vh;
  border-radius: 5px;
}

.projectsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.projectDiv {
  width: 23vh;
  margin: 1vh;
  /*box-shadow: 0px 0px 6px rgba(0,0,0, 0.4);*/
  box-shadow: 0.5px 1.5px 15.5px rgba(0,0,0, 0.2);
}

.projectImg {
  height: 15vh;
  border-radius: 5px;
}

.projectDescription {
  display: flex;
  background-color: rgba(255,255,255,0.5);
  border-radius: 5px;
  padding: 5px;
  height: 10vh;
  align-items: center;
}

.contactContainer {
  margin-top: 6vh;
}

.contactContainer h3 {
  font-size: 2.5vh;
}

.contactMe a {
  color:black;
  font-size: 3vh;
  padding: 1vh;
}

.contactMe i:hover {
  font-size: 3.2vh;
}

#contactInfo {
  margin-top: 1vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#contactInfo h4 {
  margin: 0.5vh;
}

.footer {
  padding-top: 4vh;
  padding-bottom: 2vh;
}
