body {
  -webkit-font-smoothing: antialiased;
  margin: 0;
  margin-bottom: -20px;
  padding: 0;
  height: 130vmax;
  font-family: sans-serif;
  text-align: center;
  background: url("../public/minimalism.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 1;
  color: #222222;
}

.navFixed {
  position: fixed;
  width: 100%;
  background: url("../public/minimalism.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 2;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1vmax;
  font-size: 2vmax;
}

.navLink {
  padding: 10px;
  color: black;
  text-decoration:none;
}

.navLink:hover {
  font-size: larger;
  font-weight: bold;
}

.header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title{
  padding-top: 10vmax;
}

.downArrow {
  justify-content: flex-end;
  font-size: 5vmax;
}

.downArrow a {
  color: #222222;
}

.tech {
  display: flex;
  justify-content: space-around;
  font-size: 2.5vmin;
  flex-wrap: wrap;
}

.techDiv {
  flex: 1;
  min-width: 300px;
}

.technologies {
  height: 5vmin;
  margin: 0 2vmin 2vmin 2vmin;
}

h1 {
  font-size: 45px;
}

.header h4 {
  font-style: italic;
}

#main {
  font-size: large;
}

#main h3 {
  font-size: 2.5vmax;
}

#aboutMe {
  margin-top: 6vmax;
  padding-top: 6vmax;
  padding-bottom: 6vmax;
  height: 92vh;
  /*background-color: rgba(34,34,34,0.5);*/
  background-color: #3399ff;
  font-size: large;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.aboutMeTop {
  display: flex;
  padding: 0px 50px 50px 50px;
}

.aboutMeText {
  flex: 3;
  padding: 15px;
  margin: 15px;
  background-color: rgba(255,255,255,0.5);
  border-radius: 5px;
  font-size: 2vmin;
  max-width: 700px;
}

.profilePicContainer {
  flex: 1;
  padding: 2vmax;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profilePic {
  height: 20vmin;
  border-radius: 5px;
}

#projects {
  margin-top: 6vmax;
  padding-top: 6vmax;
  padding-bottom: 6vmax;
  border-radius: 5px;
  background-color: #eeeeee;
  height: 92vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.projectsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 3vmax;
}

.projectDiv {
  width: 23vmax;
  margin: 1vmax;
  /*box-shadow: 0px 0px 6px rgba(0,0,0, 0.4);*/
  box-shadow: 0.5px 1.5px 15.5px rgba(0,0,0, 0.2);
}

.projectImg {
  height: 15vmax;
  border-radius: 5px;
}

.projectDescription {
  display: flex;
  background-color: rgba(255,255,255,0.5);
  border-radius: 5px;
  padding: 5px;
  height: 10vmax;
  align-items: center;
}

#contact {
  margin-top: 6vmax;
  display: flex;
  height: 88vh;
  flex-direction: column;
  justify-content: flex-end;
}

#contact h3 {
  font-size: 2.5vmax;
}

.contactMe a {
  color:black;
  font-size: 3vmax;
  padding: 1vmax;
}

.contactMe i:hover {
  font-size: 3.2vmax;
}

#contactInfo {
  margin-top: 1vmax;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#contactInfo h4 {
  margin: 0.5vmax;
}

.footer {
  padding-bottom: 2vmax;
}

@media (max-width: 730px) {
  .aboutMeTop {
    padding: 0;
  }
  #projects {
    height: auto;
  }
  .projectsContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }
  #aboutMe {
    height: auto;
  }
  .projectDiv {
    width: 90%;
  }
  .projectImg {
    height: 30vmax;
  }
}

.icon {
  color:black;
  font-size: 3vmax;
  padding: 1vmax;
  padding-bottom: 2vmax;
}

.icon i:hover {
  font-size: 3.2vmax;
}

.upArrow {
  justify-content: flex-end;
  margin-top: 3vh;
  font-size: 5vmax;
}

.upArrow a {
  color: #222222;
}

@media (max-width: 736px) {
  #aboutMe {
    height: auto;
  }
  .aboutMeTop {
    display: flex;
    flex-direction: column-reverse;
  }
  .aboutMeText {
    font-size: 3vmax;
  }
  .profilePic {
    height: 20vmax;
  }
  #main h3 {
    font-size: 3.5vmax;
  }
  #projects {
    margin-top: 0;
  }
  #contact {
    margin-top: 0;
  }
}

@media (max-height: 800px){
  .titleInnerContainer {
    margin: 0 20vmin;
    padding: 0.5vmin;
    background-color: rgba(238,238,238, 0.5);
  }
}

@media (max-height: 800px) and (orientation: landscape){
  .header {
    padding-top: 5vmin;
    height: 95vmin;
  }
}

body.is-os, #footer.is-os {
    background: url(/static/media/minimalism.ea7a4b34.png) no-repeat 50%;
}
